<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- W3 CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Smart-India-Hackathon</title>

</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-sm bg-light">

        <div class="container-fluid">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lorem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
          </ul>
        </div>
        <form class="d-flex">
          {% if session['user_id'] %}
          <a href="/profile">
            <button class="btn btn-primary" type="button">Profile</button>
          </a>
          <a href="/logout">
            <button class="btn btn-primary" type="button">Log Out</button>
          </a>
          {% else %}
          <a href="/register">
            <button class="btn btn-primary" type="button">Resgister</button>
          </a>
          {% endif %}
        </form>
      
      </nav>
    {% block main %} {% endblock %}
</body>
</html>